[flake8]
extend-ignore =
    # "undefined name": leave this to mypy.
    F821,

    # These get confused by the C code we have embedded in docstrings in
    # various places.
    # "indentation contains mixed spaces and tabs"
    E101,
    # "indentation contains tabs"
    W191,

    # For the following, we live by Black.
    # "whitespace before ':'"
    E203,
    # "line too long"
    E501,
    # "line break before binary operator"
    W503
