*.pyc
*.so
/.coverage
/.mypy_cache
/build
/coverage.info
/cscope.*
/dist
/docs/_build
/drgn.egg-info
/drgn/internal/version.py
/htmlcov
/drgn-*.tar.gz
/python-drgn-*.src.rpm
/python-drgn.spec
__pycache__
