recursive-include docs *.css *.ico *.png *.py *.rst
recursive-include examples *.py
recursive-include tests *.py *.zst
include tests/linux_kernel/kmod/Makefile tests/linux_kernel/kmod/drgn_test.c
recursive-include tools *.py
recursive-include vmtest *.c *.py *.rst
include .flake8 CONTRIBUTING.rst COPYING pytest.ini util.py
