#*
*#
*.a
*.o
*.orig
*.os
*.patch
*.rej
*.so
*.so.1
*/Makefile.in
*~
.#*
.deps
.glimpse_*
=*
/INSTALL
Makefile
Makefile.in
/aclocal.m4
/autom4te.*
/backends/*.map
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/config/ar-lib
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/libdw.pc
/config/libelf.pc
/config/missing
/config/test-driver
/config/ylwrap
/configure
/elfutils.spec
/libcpu/*_dis.h
/libcpu/*.mnemonics
/libcpu/*_gendis
/libcpu/*_lex.c
/libcpu/*_parse.[ch]
/libdw/known-dwarf.h
/po/*.gmo
/po/*.pot
/po/en@boldquot.insert-header
/po/en@boldquot.po
/po/en@quot.insert-header
/po/en@quot.po
/po/Makevars.template
/po/POTFILES
/po/remove-potcdate.sed
/po/stamp-po
/src/addr2line
/src/ar
/src/elfclassify
/src/elfcmp
/src/elfcompress
/src/elflint
/src/findtextrel
/src/make-debug-archive
/src/nm
/src/objdump
/src/ranlib
/src/readelf
/src/size
/src/stack
/src/strings
/src/strip
/src/unstrip
/stamp-h1
/tests/*.log
/tests/*.trs
/tests/addrcfi
/tests/addrscopes
/tests/aggregate_size
/tests/alldts
/tests/allfcts
/tests/allregs
/tests/arextract
/tests/arls
/tests/arsymtest
/tests/asm-tst1
/tests/asm-tst2
/tests/asm-tst3
/tests/asm-tst4
/tests/asm-tst5
/tests/asm-tst6
/tests/asm-tst7
/tests/asm-tst8
/tests/asm-tst9
/tests/backtrace
/tests/backtrace-child
/tests/backtrace-child-biarch
/tests/backtrace-data
/tests/backtrace-dwarf
/tests/buildid
/tests/debugaltlink
/tests/debuglink
/tests/deleted
/tests/dwarf-getmacros
/tests/dwarf-getstring
/tests/dwarf-ranges
/tests/dwelfgnucompressed
/tests/dwfl-addr-sect
/tests/dwfl-bug-addr-overflow
/tests/dwfl-bug-fd-leak
/tests/dwfl-bug-getmodules
/tests/dwfl-bug-report
/tests/dwfl-proc-attach
/tests/dwfl-report-elf-align
/tests/dwfllines
/tests/dwflmodtest
/tests/dwflsyms
/tests/early-offscn
/tests/ecp
/tests/elfgetchdr
/tests/elfgetzdata
/tests/elfputzdata
/tests/elfshphehdr
/tests/elfstrmerge
/tests/elfstrtab
/tests/emptyfile
/tests/fillfile
/tests/find-prologues
/tests/funcretval
/tests/funcscopes
/tests/get-aranges
/tests/get-files
/tests/get-lines
/tests/get-pubnames
/tests/getsrc_die
/tests/hash
/tests/line2addr
/tests/low_high_pc
/tests/msg_tst
/tests/newdata
/tests/newfile
/tests/newscn
/tests/peel_type
/tests/rdwrmmap
/tests/rerequest_tag
/tests/saridx
/tests/scnnames
/tests/sectiondump
/tests/show-abbrev
/tests/show-die-info
/tests/showptable
/tests/strptr
/tests/system-elf-libelf-test
/tests/test-elf_cntl_gelf_getshdr
/tests/test-flag-nobits
/tests/test-nlist
/tests/typeiter
/tests/typeiter2
/tests/update1
/tests/update2
/tests/update3
/tests/update4
/tests/varlocs
/tests/vendorelf
/tests/vdsosyms
/tests/zstrptr
/version.h
