[Unit]
Description=elfutils debuginfo-over-http server
Documentation=http://elfutils.org/
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/debuginfod
User=debuginfod
Group=debuginfod
#CacheDirectory=debuginfod
ExecStart=/usr/bin/debuginfod -d /var/cache/debuginfod/debuginfod.sqlite -p $DEBUGINFOD_PORT $DEBUGINFOD_VERBOSE $DEBUGINFOD_PRAGMAS $DEBUGINFOD_PATHS
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
